/* CSS files add styling rules to your content */

 <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

body {
  font-family: helvetica, arial, serif;
  margin: 0;
}



.icon-bar {
  width: 90px;
  background-color: #fffff;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar {
  background-color: #8c8eba;
}

.active {
  background-color: #8c8eba;
}

.image {
  width:45%;
  float: right;
}

h1 {
  font-size: 60px;
}
 
.intro {
  position: absolute;
  left: 130px; 
  font-size: 20px;
}

.info {
  font-weight: bold;
  position: absolute;
  left: 130px;
  top: 80%;
  font-size: 30px;
}